# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

+ List popular languages in Data Science
+ List common libraries in Data Science
+ Create an example table
+ Coding mathematical operations

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. Java

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. ggplot
5. caret

|Data Science Tools|
|----|
|Jupyter|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple operation to mutiply and add integers
(3*4)+5

17

In [4]:
# This code converts 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Sergio Díaz Suárez